/* FONT STYLE FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&family=Quicksand:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
:root {
    --black-color: #22201c;
    --white-color: #fef7e6;
    --light-yellow-color: #fff2d5;
    --yellow-color: #ffe5aa;
    --dark-yellow-color: #FFC931;
    --purple-color: #E635E7;
    --dark-purple-color: #451046;

    --bold-1: 800;
    --bold-2: 600;
    --bold-3: 400;
    --bold-4: 200;
    
    --box-shadow: 0 0 10px rgba(0 0 0/15%);
}
body {
    color: var(--black-color);
    background-color: var(--white-color);
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--black-color);
}
.logo-image {
    width: 60px;
}

/* ---------- NAVBAR SECTION ---------- */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    /* background-color: var(--black-color); */
    padding: 1rem 2rem;
    background: transparent;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7.5px);
    z-index: 99;
}
.navbar-active {
    background-color: var(--black-color);
}
.navbar .logo-section {
    display: flex;
    align-items: center;
    gap: 6px;
}
.navbar .logo-section .title {
    font-size: 18px;
    color: #FFB000;
    font-weight: var(--bold-1);
}
.navbar .logo-section .title span {
    color: #E635E7;
}
.navbar .option-section {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    /* color: var(--white-color); */
    color: var(--black-color);
    gap: 2rem;
    padding-right: 4rem;
    font-size: 16px;
}
.option-section-active {
    color: var(--white-color);
}
.navbar .option-section .option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: var(--bold-1);
}
.navbar .option-section .option:hover {
    color: var(--dark-yellow-color);
}
.navbar .option-section .option i {
    /* color: var(--white-color); */
    color: var(--black-color);
}
.navbar .option-section .option .dropdown-menu {
    display: block;
    position: relative;
    align-items: center;
    background-color: blue;
    display: none;
}

/* ---------- Characters List Section ---------- */
.characters-section {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.characters-section .characters-box-section {
    width: 64%;
    padding: 0 2rem 1rem 2rem;
    background-color: var(--dark-yellow-color);
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}
.characters-section .characters-box-section .characters-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
}
.characters-section .characters-box-section .characters-title .title {
    font-size: 28px;
    font-weight: var(--bold-1);
}
.characters-section .characters-box-section .characters-title .box-search {
    display: flex;
    align-items: flex-start;
    padding: 10px 14px;
    gap: 6px;
    border-radius: 4px;
    background-color: var(--yellow-color);
}
.characters-section .characters-box-section .characters-title .box-search:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--light-yellow-color);
    transition: .6s;
}
.characters-section .characters-box-section .characters-title .box-search .icon-search i,
.characters-section .characters-box-section .characters-title .box-search .icon-x i {
    font-size: 20px;
}
.characters-section .characters-box-section .characters-title .box-search .input-search {
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--black-color);
    font-size: 14px;
}
.characters-section .characters-box-section .characters-title .box-search .input-search::placeholder {
    color: var(--black-color);
    font-weight: var(--bold-3);
}
.characters-section .characters-box-section .characters-option {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
    padding: 1rem;
    border-radius: 6px;
    padding: 1rem 2rem;
    transition: .6s;
}
.characters-section .characters-box-section .characters-option .option-stars {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.characters-section .characters-box-section .characters-option .option-stars .stars1 {
    color: #ba68c8;
    cursor: pointer;
}
.characters-section .characters-box-section .characters-option .option-stars .stars2 {
    color: #f9a825;
    cursor: pointer;
}
.characters-section .characters-box-section .characters-option .option-stars .stars1:hover,
.characters-section .characters-box-section .characters-option .option-stars .stars2:hover,
.characters-section .characters-box-section .characters-option .option-elements .element:hover,
.characters-section .characters-box-section .characters-option .option-weapons .weapon:hover {
    padding: 4px;
    background: #977832;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7.5px);
    transition: .6s;
}
.characters-section .characters-box-section .characters-option .option-line {
    display: flex;
    justify-content: center;
    padding: 0 24px;
}
.characters-section .characters-box-section .characters-option .option-line .line {
    height: 40px;
    width: 3px;
    background-color: #d7c08a;
    border-radius: 16px;
}
.characters-section .characters-box-section .characters-option .option-elements,
.characters-section .characters-box-section .characters-option .option-weapons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.characters-section .characters-box-section .characters-option .option-elements .element,
.characters-section .characters-box-section .characters-option .option-weapons .weapon {
    width: 35px;
    cursor: pointer;
}
.characters-section .characters-box-section .characters-list {
    margin: 1.4rem 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* justify-content: center; */
    background-color: var(--yellow-color);
}
.characters-section .characters-box-section .characters-list .characters-box {
    /* background-color: #22201c; */
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.characters-section .characters-box-section .characters-list .characters-box .character .stars-4{
    background-color: #E635E7;
}
.characters-section .characters-box-section .characters-list .characters-box .character .stars-5 {
    background-color: #f9a825;
}
.characters-section .characters-box-section .characters-list .characters-box .character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    position: relative;
}
.characters-section .characters-box-section .characters-list .characters-box .character .characters-img {
    width: 72px;
    position: relative;
    border-radius: 6px;
}
.characters-section .characters-box-section .characters-list .characters-box .character .characters-img:hover {
    transform: scale(1.1);
    transition: .4s;
    box-shadow: var(--box-shadow);
}
.characters-section .characters-box-section .characters-list .characters-box .character .elements-img {
    width: 22px;
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #977832;
    padding: 2px;
    border-radius: 20px;
    z-index: 1;
}
.characters-section .characters-box-section .characters-list .characters-box .character-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.characters-section .characters-box-section .characters-list .characters-box .character-name .name {
    font-size: 14px;
    margin: 4px 0;
    text-align: center;
}
.characters-section .characters-box-section .characters-list .characters-box .character-name .condition {
    background-color: var(--dark-yellow-color);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: var(--bold-2);
}

/* ---------- FOOTER SECTION ---------- */
.footer .main-footer {
    display: flex;
    margin-top: -1rem;
    /* margin-bottom: 1rem; */
    background-color: var(--dark-yellow-color);
    padding: 2rem 16rem;
    gap: 4rem;
}
.footer .main-footer .footer-about {
    width: 59%
}
.footer .main-footer .footer-about .title-section .title-link-section {
    width: 76%;
}
.footer .main-footer .footer-about .title-section .title-link-section .title-link {
    font-weight: var(--bold-1);
    font-size: 24px;
}
.footer .main-footer .footer-about .title-section .title-link-section .title-line-top {
    display: flex;
    justify-content: flex-end;
}
.footer .main-footer .footer-about .title-section .title-link-section .title-line-bottom {
    display: flex;
}
.footer .main-footer .footer-about .title-section .title-link-section .title-line-top .line,
.footer .main-footer .footer-about .title-section .title-link-section .title-line-bottom .line {
    height: 2px;
    width: 60%;
    background-color: var(--black-color);
    border-radius: 16px;
}
.footer .main-footer .footer-about .title-section .content-section {
    margin-top: 8px;
    font-weight: 500;
}
.footer .main-footer .footer-about .disclaimer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: .6rem 0;
}
.footer .main-footer .footer-about .disclaimer .title-disclaimer {
    padding-left: 1rem;
    font-size: 18px;
    color: var(--dark-purple-color);
}
.footer .main-footer .footer-about .disclaimer .content-disclaimer {
    /* padding-left: 1rem; */
    font-size: 16px;
    font-weight: var(--bold-2);
    color: var(--dark-purple-color);
}
.footer .main-footer .footer-about .title-disclaimer::before,
.footer .main-footer .footer-about .title-disclaimer::after {
    position: absolute;
    content: "";
    top: 5.8px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--dark-purple-color);
}
.footer .main-footer .footer-about .title-disclaimer::before {
    width: 12px;
    height: 12px;
    background-color: var(--dark-purple-color);
}
.footer .main-footer .footer-about .title-disclaimer::after {
    width: 12px;
    height: 12px;
    animation: pulse 1s linear infinite;
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.footer .main-footer .footer-about .copyright {
    font-size: 16px;
    font-weight: 550;
}
.footer .main-footer .footer-more-links,
.footer .main-footer .community-links {
    position: relative;
    width: 30%;
}
.footer .main-footer .footer-more-links h4,
.footer .main-footer .community-links h4 {
    font-size: 20px;
}
.footer .main-footer .footer-more-links .linked-option,
.footer .main-footer .community-links .linked-option  {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-weight: var(--bold-2);
    gap: 4px;
}
.footer .main-footer .footer-more-links .linked-option .linked:hover,
.footer .main-footer .community-links .linked-option .linked:hover {
    transition: .6s;
    transform: translateX(6px);
    color: #781c79;
}
.footer .footer-line {
    display: flex;
    /* margin: 6px 0; */
}
.footer .footer-line .line {
    height: 1.5px;
    width: 100%;
    background-color: var(--black-color);
    border-radius: 16px;
}
.footer .watermark {
    background-color: var(--light-yellow-color);
    display: flex;
    justify-content: center;
    padding: 12px 0;
}
.footer .watermark h4 {
    font-size: 14px;
}
.footer .watermark a {
    text-decoration: underline;
}
.footer .watermark a:hover {
    color: #781c79;
}