/* FONT STYLE FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&family=Quicksand:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
:root {
    --black-color: #22201c;
    --white-color: #fffdf8;
    --light-yellow-color: #fff2d5;
    --yellow-color: #ffe5aa;
    --dark-yellow-color: #FFC931;

    --bold-1: 800;
    --bold-2: 600;
    --bold-3: 400;
    --bold-4: 200;
    
    --box-shadow: 0 0 10px rgba(0 0 0/15%);
}
body {
    color: var(--black-color);
    background-color: var(--white-color);
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--black-color);
}
.logo-image {
    width: 60px;
}

/* ---------- NAVBAR SECTION ---------- */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    /* background-color: var(--black-color); */
    padding: 1rem 2rem;
    background: transparent;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7.5px);
}
.navbar-active {
    background-color: var(--black-color);
}
.navbar .logo-section {
    display: flex;
    align-items: center;
    gap: 6px;
}
.navbar .logo-section .title {
    font-size: 18px;
    color: #FFB000;
    font-weight: var(--bold-1);
}
.navbar .logo-section .title span {
    color: #E635E7;
}
.navbar .option-section {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    /* color: var(--white-color); */
    color: var(--black-color);
    gap: 2rem;
    padding-right: 4rem;
    font-size: 16px;
}
.option-section-active {
    color: var(--white-color);
}
.navbar .option-section .option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.navbar .option-section .option:hover {
    color: var(--dark-yellow-color);
}
.navbar .option-section .option i {
    /* color: var(--white-color); */
    color: var(--black-color);
}
.navbar .option-section .option .dropdown-menu {
    display: block;
    position: relative;
    align-items: center;
    background-color: blue;
    display: none;
}

/* ---------- Characters List Section ---------- */
.characters-section {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.characters-section .characters-box-section {
    width: 80%;
    padding: 0 2rem 1rem 2rem;
    background-color: var(--dark-yellow-color);
    border-radius: 6px;
}
.characters-section .characters-box-section .characters-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
}
.characters-section .characters-box-section .characters-title .title {
    font-size: 28px;
    font-weight: var(--bold-1);
}
.characters-section .characters-box-section .characters-title .box-search {
    display: flex;
    align-items: flex-start;
    padding: 10px 14px;
    gap: 6px;
    border-radius: 4px;
    background-color: var(--yellow-color);
}
.characters-section .characters-box-section .characters-title .box-search:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--light-yellow-color);
}
.characters-section .characters-box-section .characters-title .box-search .icon-search i,
.characters-section .characters-box-section .characters-title .box-search .icon-x i {
    font-size: 20px;
}
.characters-section .characters-box-section .characters-title .box-search .input-search {
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--black-color);
    font-size: 14px;
}
.characters-section .characters-box-section .characters-title .box-search .input-search::placeholder {
    color: var(--black-color);
    font-weight: var(--bold-3);
}
.characters-section .characters-box-section .characters-option {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
    padding: 1rem;
    border-radius: 6px;
    padding: 1rem 2rem;
}
.characters-section .characters-box-section .characters-option .option-stars {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.characters-section .characters-box-section .characters-option .option-stars .stars1 {
    color: #ba68c8;
    cursor: pointer;
}
.characters-section .characters-box-section .characters-option .option-stars .stars2 {
    color: #f9a825;
    cursor: pointer;
}
.characters-section .characters-box-section .characters-option .option-stars .stars1:hover,
.characters-section .characters-box-section .characters-option .option-stars .stars2:hover,
.characters-section .characters-box-section .characters-option .option-elements .element:hover,
.characters-section .characters-box-section .characters-option .option-weapons .weapon:hover {
    padding: 4px;
    background: #977832;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7.5px);
}
.characters-section .characters-box-section .characters-option .option-line {
    display: flex;
    justify-content: center;
    padding: 0 24px;
}
.characters-section .characters-box-section .characters-option .option-line .line {
    height: 40px;
    width: 3px;
    background-color: #d7c08a;
    border-radius: 16px;
}
.characters-section .characters-box-section .characters-option .option-elements,
.characters-section .characters-box-section .characters-option .option-weapons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.characters-section .characters-box-section .characters-option .option-elements .element,
.characters-section .characters-box-section .characters-option .option-weapons .weapon {
    width: 35px;
    cursor: pointer;
}
.characters-section .characters-box-section .characters-list {
    margin: 1.4rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* justify-content: center; */
    background-color: var(--yellow-color);
}
.characters-section .characters-box-section .characters-list .characters-box {
    /* background-color: #22201c; */
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.characters-section .characters-box-section .characters-list .characters-box .character .stars-4{
    background-color: #E635E7;
}
.characters-section .characters-box-section .characters-list .characters-box .character .stars-5 {
    background-color: #f9a825;
}
.characters-section .characters-box-section .characters-list .characters-box .character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    position: relative;
}
.characters-section .characters-box-section .characters-list .characters-box .character .characters-img {
    width: 73px;
    position: relative;
    border-radius: 6px;
}
.characters-section .characters-box-section .characters-list .characters-box .character .elements-img {
    width: 22px;
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #977832;
    padding: 2px;
    border-radius: 20px;
    z-index: 1;
}
.characters-section .characters-box-section .characters-list .characters-box .character-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.characters-section .characters-box-section .characters-list .characters-box .character-name .name {
    font-size: 16px;
    margin: 4px 0;
}
.characters-section .characters-box-section .characters-list .characters-box .character-name .condition {
    background-color: var(--dark-yellow-color);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: var(--bold-2);
}

