/* FONT STYLE FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&family=Quicksand:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
:root {
    --black-color: #22201c;
    --white-color: #fef7e6;
    --light-yellow-color: #fff2d5;
    --yellow-color: #ffe5aa;
    --dark-yellow-color: #FFC931;
    --purple-color: #E635E7;
    --dark-purple-color: #451046;

    --bold-1: 800;
    --bold-2: 600;
    --bold-3: 400;
    --bold-4: 200;
    
    --box-shadow: 0 0 10px rgba(0 0 0/15%);
}
body {
    color: var(--black-color);
    background-color: var(--white-color);
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--black-color);
}
.logo-image {
    width: 60px;
}

/* --------- TIER SECTION --------- */
.tier-section {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tier-section .tier-box-section {
    width: 64%;
    padding: 0 2rem 1rem 2rem;
    background-color: var(--dark-yellow-color);
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}
.tier-section .tier-box-section .tier-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
}
.tier-section .tier-box-section .tier-title .title {
    font-size: 28px;
    font-weight: var(--bold-1);
}
.tier-section .tier-box-section .tier-title .box-search {
    display: flex;
    align-items: flex-start;
    padding: 10px 14px;
    gap: 6px;
    border-radius: 4px;
    background-color: var(--yellow-color);
}
.tier-section .tier-box-section .tier-title .box-search:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--light-yellow-color);
    transition: .6s;
}
.tier-section .tier-box-section .tier-title .box-search .icon-search i,
.tier-section .tier-box-section .tier-title .box-search .icon-x i {
    font-size: 20px;
}
.tier-section .tier-box-section .tier-title .box-search .input-search {
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--black-color);
    font-size: 14px;
}
.tier-section .tier-box-section .tier-title .box-search .input-search::placeholder {
    color: var(--black-color);
    font-weight: var(--bold-3);
}