/* FONT STYLE FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&family=Quicksand:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
:root {
    --black-color: #22201c;
    --white-color: #fef7e6;
    --light-yellow-color: #fff2d5;
    --yellow-color: #ffe5aa;
    --dark-yellow-color: #FFC931;
    --purple-color: #E635E7;
    --dark-purple-color: #451046;

    --bold-1: 800;
    --bold-2: 600;
    --bold-3: 400;
    --bold-4: 200;
    
    --box-shadow: 0 0 10px rgba(0 0 0/15%);
}
body {
    color: var(--black-color);
    background-color: var(--white-color);
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--black-color);
}
.logo-image {
    width: 60px;
}

/* ---------- FOOTER SECTION ---------- */
.footer .main-footer {
    display: flex;
    margin-top: -1rem;
    /* margin-bottom: 1rem; */
    background-color: var(--dark-yellow-color);
    padding: 2rem 16rem;
    gap: 4rem;
}
.footer .main-footer .footer-about {
    width: 59%
}
.footer .main-footer .footer-about .title-section .title-link-section {
    width: 76%;
}
.footer .main-footer .footer-about .title-section .title-link-section .title-link {
    font-weight: var(--bold-1);
    font-size: 24px;
}
.footer .main-footer .footer-about .title-section .title-link-section .title-line-top {
    display: flex;
    justify-content: flex-end;
}
.footer .main-footer .footer-about .title-section .title-link-section .title-line-bottom {
    display: flex;
}
.footer .main-footer .footer-about .title-section .title-link-section .title-line-top .line,
.footer .main-footer .footer-about .title-section .title-link-section .title-line-bottom .line {
    height: 2px;
    width: 60%;
    background-color: var(--black-color);
    border-radius: 16px;
}
.footer .main-footer .footer-about .title-section .content-section {
    margin-top: 8px;
    font-weight: 500;
}
.footer .main-footer .footer-about .disclaimer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: .6rem 0;
}
.footer .main-footer .footer-about .disclaimer .title-disclaimer {
    padding-left: 1rem;
    font-size: 18px;
    color: var(--dark-purple-color);
}
.footer .main-footer .footer-about .disclaimer .content-disclaimer {
    /* padding-left: 1rem; */
    font-size: 16px;
    font-weight: var(--bold-2);
    color: var(--dark-purple-color);
}
.footer .main-footer .footer-about .title-disclaimer::before,
.footer .main-footer .footer-about .title-disclaimer::after {
    position: absolute;
    content: "";
    top: 5.8px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--dark-purple-color);
}
.footer .main-footer .footer-about .title-disclaimer::before {
    width: 12px;
    height: 12px;
    background-color: var(--dark-purple-color);
}
.footer .main-footer .footer-about .title-disclaimer::after {
    width: 12px;
    height: 12px;
    animation: pulse 1s linear infinite;
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.footer .main-footer .footer-about .copyright {
    font-size: 16px;
    font-weight: 550;
}
.footer .main-footer .footer-more-links,
.footer .main-footer .community-links {
    position: relative;
    width: 30%;
}
.footer .main-footer .footer-more-links h4,
.footer .main-footer .community-links h4 {
    font-size: 20px;
}
.footer .main-footer .footer-more-links .linked-option,
.footer .main-footer .community-links .linked-option  {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-weight: var(--bold-2);
    gap: 4px;
}
.footer .main-footer .footer-more-links .linked-option .linked:hover,
.footer .main-footer .community-links .linked-option .linked:hover {
    transition: .6s;
    transform: translateX(6px);
    color: #781c79;
}
.footer .footer-line {
    display: flex;
    /* margin: 6px 0; */
}
.footer .footer-line .line {
    height: 1.5px;
    width: 100%;
    background-color: var(--black-color);
    border-radius: 16px;
}
.footer .watermark {
    background-color: var(--light-yellow-color);
    display: flex;
    justify-content: center;
    padding: 12px 0;
}
.footer .watermark h4 {
    font-size: 14px;
}
.footer .watermark a {
    text-decoration: underline;
}
.footer .watermark a:hover {
    color: #781c79;
}